body {
  scroll-snap-type: y mandatory;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.gallery-item {
  height: 100vh;
  scroll-snap-align: start;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
